@mixin navbar-color-custom($color, $offset, $opacity) {
  border-color: rgba($color, $opacity);
  a {
    background-color: $color;
    &:hover {
    background-color: lighten($color, $offset);
    }
  }
}

.navbar-012 {
  background-color: $blue-012;
  border-radius: 0;
  padding: 0;
  margin: 0;
  border: 0;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar-012 .container-fluid {
  @media screen and (min-width: $screen-sm) {
    padding: 0;
  }
}

.navbar-012 .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-012 .brand {
  margin-left: 10px;
  @media screen and (min-width: $screen-sm) {
    margin-left: 0;
  }
}

.navbar-012 .navbar-toggle + .brand img {
  margin-left: 10px;
  @media screen and (max-width: $screen-sm) {
    width: 60px;
    top: 10px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
}

.navbar-012 .navbar-toggle.collapsed + .brand img {
  @media screen and (max-width: $screen-sm) {
    width: 120px;
    top: 25px;
    -webkit-transition-delay: 0.3s; /* Safari */
    transition-delay: 0.3s;
  }
}

.navbar-012 .navbar-collapse {
  @media screen and (min-width: $screen-sm) {
    padding: 0;
  }
}

.navbar-012 .menu-primary-navigation-container {
  @media screen and (min-width: $screen-sm) {
    table-layout: fixed;
    width: 100%;
    padding-left: 140px;
  }
}

.navbar-012 .navbar-nav {
  background-color: $blue-012;
  margin-top: 0;
  margin-bottom: 0;
  @media screen and (min-width: $screen-sm) {
    &:before, &:after {
      content: normal;
    }
  }
}

.navbar-012 .navbar-nav li {
  @media screen and (min-width: $screen-sm) {
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
  }
}

.navbar-012 .navbar-nav li > a {
  color: #ffffff;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  @media screen and (min-width: $screen-sm) {
    padding: 15px 7px;
  }

  @media screen and (min-width: $screen-md) {
    padding: 15px 25px;
  }

  @media screen and (min-width: $screen-lg) {
    padding: 15px 40px;
  }
}

.navbar-012 .brand img {
  position: absolute;
  top: 25px;
  z-index: 1;
}

.navbar-012 .navbar-nav > li:nth-child(5n+1) {
  @include navbar-color-custom($orange-012, 5%, 0.2);
}

.navbar-012 .navbar-nav > li:nth-child(5n+2) {
  @include navbar-color-custom($red-012, 5%, 0.2);
}

.navbar-012 .navbar-nav > li:nth-child(5n+3) {
  @include navbar-color-custom($turquoise-012, 5%, 0.2);
}

.navbar-012 .navbar-nav > li:nth-child(5n+4) {
  @include navbar-color-custom($green-012, 5%, 0.2);
}

.navbar-012 .navbar-nav > li:nth-child(5n+5) {
  @include navbar-color-custom($yellow-012, 5%, 0.2);
}

.navbar-012 .navbar-nav > li:last-child {
  @include navbar-color-custom($blue-012, 5%, 0.2);
}

.navbar-012 .sub-menu {
  z-index: 1;
  margin: 0;
  padding: 0;
  @media screen and (min-width: $screen-sm) {
    display: none;
    list-style: none;
    padding: 20px 0 0 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 470px;
  }
}

.current-menu-parent .sub-menu,
.current-menu-item .sub-menu {
  display: block;
}

.navbar-012 .sub-menu li {
  display: block;
}

.navbar-012 .sub-menu li a {
  padding: 15px 15px 15px 30px;
  background-color: transparent !important;
  @media screen and (min-width: $screen-sm) {
    display: block;
    padding: 5px 10px;
    text-align: center;
  }
  &:hover {
    text-decoration: none;
    background-color: rgba(#fff, 0.2) !important;
  }
}

.navbar-012 .sub-menu li.current-menu-item a {
  font-weight: 900;

}