.slick-slider {
  margin: 0 0 30px 0;
}

.slick-slide {
  padding: 0 5px;
  outline: none;
}

.slick-next, .slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 0;
  display: block;
  width: 40px;
  height: 100%;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  background: 0 0;
  background-color: rgba($red-012, 0.5);
  text-align: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  &:hover {
    background-color: rgba($red-012, 0.8);
  }

  &:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    font-family: FontAwesome;
    font-size: 36px;
    color: #fff;
  }
}

.slick-next {
  right: 5px;
  &:before {
    content: '\f054';
  }
}

.slick-prev {
  left: 5px;
  z-index: 1;
  &:before {
    content: '\f053';
  }
}

.slick-disabled {
  background-color: rgba(#333, 0.3) !important;
  &:before {
    color: rgba(#fff, 0.4);
  }
  &:hover {
    cursor: default;
    background-color: rgba(#333, 0.3);
  }
}

//overrides for friends slider on about page
.slick-friends.slick-slider {
  margin: 0 40px;
}

.slick-friends .slick-slide {
  padding: 0 10px;
}

.slick-friends .slick-next,
.slick-friends .slick-prev {
  background-color: rgba($orange-012, 1);
  &:hover {
    background-color: rgba($orange-012, 0.8);
  }
}

.slick-friends .slick-next {
  right: -40px;
}

.slick-friends .slick-prev {
  left: -40px;
}