body {
  font-family: $district-pro;
  font-weight: 500 !important;
  font-style: normal;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: $district-pro;
  font-weight: 900;
  text-transform: uppercase;
}

.h1, h1 {
  font-size: 2em;
  @media screen and (min-width: $screen-md) {
    font-size: 4em;
  }
}

.h2, h2 {
  font-size: 1.4em;
  @media screen and (min-width: $screen-md) {
    font-size: 2.4em;
  }
}

.h3, h3 {
  font-size: 1.2em;
  @media screen and (min-width: $screen-md) {
    font-size: 2.2em;
  }
}

.h1.title, h1.title {
  margin-top: -0.20em;
  margin-bottom: 30px;
  @media screen and (min-width: $screen-md) {
    margin-top: -0.24em;
  }
}

.nowrap {
  white-space: nowrap;
}

.container-fluid .container {
  max-width: 100%;
}

.google-maps {
  position: relative;
  padding-bottom: 50%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.bb-blue {
  display: inline-block;
  border-bottom: 5px solid $blue-012;
}

.bb-red {
  display: inline-block;
  border-bottom: 5px solid $red-012;
}

.margin-bottom {
  margin-bottom: 30px;
}

.container-small {
  width: 850px;
}

.no-upper {
  text-transform: none !important;
}