// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
$blue-012:              #2E8C9B;
$orange-012:            #D67004;
$red-012:               #D23732;
$turquoise-012:         #008C80;
$green-012:             #809729;
$yellow-012:            #E1B302;

// fonts
$district-pro:          "district-pro", sans-serif;
